name: 'Lint'
on:
  pull_request:
    types: [opened, edited, synchronize]
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.5'
      - name: Download dependencies
        run: go mod download
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
